/*Nota: O pseudo-elemento ::backdrop pode ser utilizado para criar um pano de fundo que esconde o conteúdo por trás de um elemento posicionado no topo de uma pilha de elementos. Por exemplo, para o elemento que é mostrado em tela cheia conforme descrito nessa especificação.
*/
dialog::backdrop{
    background-color: rgb(0 0 0 / .5);
}

dialog{
    border-color:rgb(239, 190, 239);
    border-width: 5px;
    border-radius: 10px;
    background-color:rgb(249, 232, 249); 
    
}

button{
    background: none;
    border: none;
}
h1{
    font-family: "Rubik", sans-serif;
    color:rgb(136, 85, 136);
}

img{
    border-radius: 5px;
}
.listMenu li button{
    text-decoration: none;
    color: #ECC69E;
    font-size: 15px;
    padding: 20px;
}
.listMenu li {
    list-style: none;
}


.form label{
    font-family: "Rubik", sans-serif;
    color:rgb(149, 102, 149);
    margin-bottom: 10px;
}
.form input, select {
    border: #B89767;
    background-color:rgb(239, 190, 239);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.buttonPopUp{
    background-color: rgb(239, 190, 239);
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
}
.layoutPopUp{
    display: flex;
    position: relative;
   
    
}
.closePopUp{
    position: absolute;
    right: 5px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}